################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Estudiantes-backend/FileContentIndex/058510d4-2b6b-48b8-b0d7-db104a96b91d.vsidx
